# Ignore files and directories that should not be tracked by Git

srcs/.env
srcs/.docker

# 
srcs/.secrets/*
!srcs/.secrets/.gitkeep
!srcs/.secrets/certs/*
!srcs/.secrets/db_password.txt

.DS_Store
*.bak
