
[mysqld]
general_log_file=
datadir=/var/lib/mysql/
bind-address=0.0.0.0
skip-networking=false

log-error=/var/log/mysql/error.log
general_log=1
general_log_file=/var/log/mysql/general.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2
